[submodule "Cytrus"]
	path = Cores/Cytrus
	url = https://github.com/folium-app/Cytrus
[submodule "Grape"]
	path = Cores/Grape
	url = https://github.com/folium-app/Grape
[submodule "XCFrameworks"]
	path = Dependencies/XCFrameworks
	url = https://github.com/folium-app/XCFrameworks
[submodule "Mango"]
	path = Cores/Mango
	url = https://github.com/folium-app/Mango
[submodule "Tomato"]
	path = Cores/Tomato
	url = https://github.com/folium-app/Tomato
