[submodule "Cytrus"]
	path = Cores/Cytrus
	url = https://github.com/folium-app/Cytrus
[submodule "Grape"]
	path = Cores/Grape
	url = https://github.com/folium-app/Grape
[submodule "XCFrameworks"]
	path = Dependencies/XCFrameworks
	url = https://github.com/folium-app/XCFrameworks
